<template>
  <div>
  <input v-model="LangName" placeholder="Введите наименование языка:">
  <p>Результат: {{ result }}</p>
  <button @click="showLang()">Click me</button>
  </div>
</template>

<script>
export default {
  data() {  
  return {
  result: "",
  LangName: "",
  langs: ['C', 'C++', 'C#', 'Basic', 'Delphi', 'FoxPro', 'Java', 'Javascript', 'Php', 'Python', 'Kotlin', 'Swift', 'Go']  
  }
  },  
  methods: {
  showLang() {  
  for(let i of this.langs){
            if(i == this.LangName){
                return  this.result = this.LangName;
            }
        }
  }
  }
}
</script>

<style>

</style>
